.boxes{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px , 1fr));

}

.box{
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
}

body{
    background: #ffffff;
    font-family: 'Varela Round', sans-serif;
}

div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid #73AD21;
}

span.psw {
    float: right;
    padding-top: 6px
}

.newbutton1{
    color: #06090c;
    font-family: "proxima nova";
    font-weight: 100; 
    font-size: 20px;
    text-align: center;

    border: solid 1.5px #050505;
    padding: 0.5px 72px;

    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
}

.newbutton2{
    color: #06090c;
    font-family: "proxima nova";
    font-weight: 100; 
    font-size: 20px;
    text-align: center;

    border: solid 1.5px #050505;
    padding: 0.5px 100px;

    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
}

.newbutton2{
    font-family: "proxima nova";
    font-weight: 100; 
    font-size: 16px;
    text-align: center;

    border: solid 1.5px #04070a;

    padding: 1px 15px;

    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
}
.newbutton1:hover{

    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
}

.newbottun2:hover{

    background-color: #777;
    color: #fff;    
}




.newbottun2:hover{

    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
}




@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

.login-block{
float:left;
width:100%;
padding : 50px 0;
}

.back-color{
    background: rgb(255, 255, 255); 
    background: -webkit-linear-gradient(to bottom, rgb(185, 199, 194), rgb(255, 255, 255)); 
    background: linear-gradient(to bottom, rgb(185, 199, 194), rgb(255, 255, 255));
}

.banner-sec{
    background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
 background-blend-mode: screen;
    background-size:cover; 
    min-height:500px; 
    border-radius: 0 10px 10px 0; 
    padding:0;
}

.container{
    background:#fff; 
    border-radius: 10px; 
}

.carousel-inner{
    border-radius:0 10px 10px 0;
}

.carousel-caption{
    text-align:left; 
    left:5%;
}

.login-sec{
    padding: 50px 30px; 
    position:relative;
}

.login-sec .copy-text{
    position:absolute; 
    width:80%; 
    bottom:20px; 
    font-size:13px; 
    text-align:center;
}

.login-sec h2{
    margin-bottom:10px; 
    font-weight:800; 
    font-size:30px; 
    color: rgb(221, 48, 48)
}

.login-sec h2:after{
    content:" "; 
    width:200px; 
    height:5px; 
    background:#777; 
    display:block; 
    margin-top:20px; 
    border-radius:3px; 
    margin-left:auto;
    margin-right:auto
}

.btn-login{
    background: #DE6262; 
    color:#fff; 
    font-weight:600;
 } 
  
.banner-text{
    width:70%; 
    position:absolute; 
    bottom:40px; 
    padding-left:20px;
}

.banner-text h2{
    color:#fff; 
    font-weight:600;
}

.banner-text h2:after{
    content:" "; 
    width:100px; 
    height:5px; 
    background:#FFF; 
    display:block; 
    margin-top:20px; 
    border-radius:3px;
}

.banner-text p{
    color:#fff;
}

.button {
    display: inline-block;
    padding: 3px 10px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
  }
  
.button:hover {background-color: #3e8e41}
  
.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.bottomright {
    position: fixed;
    bottom: 5px;
    right: 5px;
    color: #472d23;
    font-weight: 600;
    font-size: 3vh;
  }

#id_username {
    width: 100%;
}
  
#id_email {
    width: 100%;
}

#id_password{
    width: 100%;
}


