{% extends "base.html" %}

{% block content %}
<div style="font-family: 'Ubuntu', sans-serif;">
{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}
{% for message in messages %}
  <div class="alert alert-warning text-center">
  <a class="close" href="#" data-dismiss="alert">×</a><strong>Sorry!</strong> {{ message }}
</div>
{% endfor %}
</div>

<div class="container" style="font-family: 'Ubuntu', sans-serif;
border: 1.5px solid black; border-radius: 15px; padding-bottom: 20px; ">
  <br>
  <div align="center" style="background-color: rgb(180, 180, 180); border-radius: 15px;">
    <h1>Create Diary</h1>
  </div><br>
  <form onsubmit="disableUploadButton()" class="form-horizontal" method="post" enctype="multipart/form-data" autocomplete="off">
    <h5>
    {% csrf_token %}
    {{form.as_p}}
      Picture: 
      <input type="file" name="myfile"><br><br>
    </h5>
      <h4><button id="upload-button" type="submit" class="btn btn-dark btn-lg btn-block">Upload</button></h4> 
  </div>

{% endblock %}