{% extends "base.html" %}

{% block content %}

{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}

<div class="container">
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        {{field.label_tag}}
        {{field}} <br><br>
        {% endfor %}
        <div class="form-group">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
</div>

{% endblock %}