{% extends "base.html" %}

<body>
  {% block content %}

  <section class="boxes">
    <div class="box">
      <img src="https://www.obrienschooldiaries.com/cms_pics/EXCEL-LAYOUTS-18-19-PURPLE.JPG" width="250px" height="230px" alt="">
      <h4>want this one!</h4>
      <a href="{% url 'diary:create' %}">
        <button class="button">Submit</button>
      </a>
    </div>

    <div class="box">
      <img src="https://www.obrienschooldiaries.com/cms_pics/EXCEL-LAYOUTS-18-19-PURPLE.JPG" width="250px" height="230px" alt="">
      <h4>want this one!</h4>
      <a href="{% url 'diary:create' %}">
        <button class="button">Submit</button>
      </a>
    </div>

    <div class="box">
      <img src="https://www.obrienschooldiaries.com/cms_pics/EXCEL-LAYOUTS-18-19-PURPLE.JPG" width="250px" height="230px" alt="">
      <h4>want this one!</h4>
      <a href="{% url 'diary:create' %}">
        <button class="button">Submit</button>
      </a>
    </div>
  </section>

  {% endblock %}
</body>

</html>