{% extends "base.html" %}

<!DOCTYPE html>

<body>
  {% block content %}

  <section class="boxes">
    <div class="box">
      <i class="fas fa-chart-pie fa-4x"></i>
      <h3>want this one!</h3>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam in fugit provident ut omnis nam earum qui dolorum,
        voluptate, accusantium nesciunt dolor repudiandae eius quidem, commodi illo deleniti magni inventore.</p>
    </div>

    <div class="box">
      <i class="fas fa-chart-pie fa-4x"></i>
      <h3>want this one!</h3>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam in fugit provident ut omnis nam earum qui dolorum,
        voluptate, accusantium nesciunt dolor repudiandae eius quidem, commodi illo deleniti magni inventore.</p>
    </div>

    <div class="box">
      <i class="fas fa-chart-pie fa-4x"></i>
      <h3>want this one!</h3>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam in fugit provident ut omnis nam earum qui dolorum,
        voluptate, accusantium nesciunt dolor repudiandae eius quidem, commodi illo deleniti magni inventore.</p>
    </div>



  </section>

  {% endblock %}
</body>

</html>