{% extends "diary/base.html" %}

{% block content %}

{% for page in all_diarys %}
<form method="POST" enctype="multipart/form-data">

  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" value="{{page.title}}" class="form-control"/>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea name="description" id="description" class="form-control">{{page.story}}</textarea>
  </div>
  <button type="submit" class="btn btn-success">Save</button>
</form>
{% endfor %}
{% endblock %}