{% extends 'base.html' %} {% load static %} {% block content %} {% if user.is_authenticated %}
<div class="container-fluid">
    <div align="center">
        <h2 class="text-center" style='display: inline; border:2px black solid; font-size:25px; padding: 9px;'>
            <img src="{% static 'pictures/icon.jpg' %}" height="30px" width="35px"> {{ user.username }}'s diary</h2>
    </div>
    <br><br><br>
    <div style="text-align: center">
        <img src="http://cgright.com/icon/1044_thum.jpg" height="180px" width="180px">
    </div>
    <br><br>
    <div class="row text-center">
        {% if all_pages %} {% for page in all_pages %}
        <div class="col-sm-3 col-lg-3">
        <div style=" padding-bottom: 30px;">
            <div class="thumbnail" class="caption" style='border:1.5px rgb(15, 9, 9) solid; overflow: hidden; block:inline; vertical-align:middle;'>
                <a href=" {% url 'diary:detail' page.id %}">
                    <div style="background: url('{{ page.picture }}');height: 200px;background-size: cover;background-position: center;">
                    </div>
                </a>
                <div>
                    {% comment %} <h2>{{ page.diary }}</h2> {% endcomment %}
                    <h2>{{ page.title }}</h2>
                    {% comment %} <h3>{{ page.tag }}</h3> {% endcomment %}
                    {% comment %} <h4>{{ page.story }}</h4> {% endcomment %}
                    <h4>{{ page.date }}</h4>
                </div>

                <!-- delete button -->
                <form action="{% url 'diary:delete_diary' page.id%} " method="post">
                    {% csrf_token %}
                    <input type="hidden" name="page_id" value="{{ page.id }}" />
                    <button type="submit">Delete</button>
                </form>
            </div>
            </div>
        </div>
        {% endfor %} {% endif %}
    </div>
</div>
{% else %}
<a href="{% url 'login'%}">Login</a>
{% endif %} {% endblock %}