<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Your Journey!</title>
<link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head> 
<body>
  <div>
      <nav class="navbar navbar-default">
          <div class="navbar-header d-flex col">
            <a class="navbar-brand" href="#"><i class="glyphicon glyphicon-book"></i><b> Dailigram</b></a>  		
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle navbar-toggler ml-auto">
              <span class="navbar-toggler-icon"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <!-- Collection of nav links, forms, and other content for toggling -->
          <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">		
            <form class="navbar-form form-inline">
              <div class="input-group search-box">								
                <input type="text" id="search" class="form-control" placeholder="Search here...">
                <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
              </div>
              <ul class="nav navbar-nav navbar-right ml-auto">
                  <li class="nav-item active"><a href="{% url 'diary:index' %}" class="nav-link"><i class="fa fa-home"></i><span> Home</span></a></li>
                  <li class="nav-item"><a href="{% url 'diary:create' %}" class="nav-link"><i class="glyphicon glyphicon-plus"></i><span> Create</span></a></li>
                  <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-gear"></i><span> Settings</span></a></li>
                  <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link"><i class="glyphicon glyphicon-log-out"></i><span> Logout</span></a></li>
                </ul>
            </form>
            
          </div>
        </nav>
  </div>
  {% block content %}{% endblock %}              
</body>
</html>                                                        