{% extends "base.html" %}

{% block content %}
<div style="text-align: center">
    <h1>Kittin</h1>  
</div>
  <p style="text-align:center;"><img src="https://instagram.fbkk2-5.fna.fbcdn.net/vp/309fbbb40dd9466270fa2b4659040fa7/5C493868/t51.2885-19/s320x320/43778276_306344706622822_1848667680702201856_n.jpg" class="round" height="250" width="250"></p>
  <div style="text-align: center">
  <h2>Dynamic content</h2>  
    <strong>Diary:</strong> {{ num_diarys }}
    <strong>Page:</strong> {{ num_pages }}
    <strong>Tag:</strong> {{ num_tags }}
  </div> 
{% endblock %}